"*":
  Hydrogen:
    debug: true
    kernelNotifications: true
    languageMappings: "{\"Babel ES6 Javascript\": \"javascript\" }"
    startDir: "dirOfFile"
  "atom-beautify":
    bash:
      beautify_on_save: true
    css:
      beautify_on_save: true
      default_beautifier: "Prettier"
    general:
      _analyticsUserId: "114fd150-bb67-4415-b5e1-3055e4955b58"
      beautifyEntireFileOnSave: false
      loggerLevel: "info"
    java:
      configPath: "uncrustify.cfg"
    js:
      beautify_on_save: true
      default_beautifier: "Prettier"
    json:
      default_beautifier: "Prettier"
    python:
      default_beautifier: "yapf"
      formatter: "yapf"
      max_line_length: 120
      multi_line_output: "Vertical"
      sort_imports: true
    scss:
      beautify_on_save: true
      default_beautifier: "Prettier"
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmdArgs: "--exclude=.circleci --exclude=conf.js --exclude=*mock* --exclude=node_modules --exclude=flow-types --exclude=jest-stare --exclude=build --exclude=coverage --exclude=package.json"
    disableComplete: true
  "atom-discord":
    behaviour:
      alternativeIcon: "atom-5"
    privacy: {}
  "atom-discord-custom":
    behaviour:
      alternativeIcon: "atom-5"
  "atom-ide-ui":
    "atom-ide-outline-view": {}
    "atom-ide-terminal":
      fontFamily: "HackNerdFontComplete-Regular"
      optionIsMeta: true
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      accentColor: "#ff0c14"
      genAccent: true
      paintCursor: true
      predefinedColor: "Indigo"
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-python-run":
    consoleLog: false
  "atom-ternjs":
    excludeLowerPriorityProviders: true
    guess: true
    inlineFnCompletionDocumentation: true
    ternServerGetFileAsync: false
    useSnippets: true
    useSnippetsAndFunction: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-modules":
    babelPluginModuleResolver: true
  "autocomplete-paths":
    enableHtmlSupport: true
    suggestionPriority: 3
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    includeCompletionsFromAllBuffers: false
    similarSuggestionRemoval: "textOrSnippet"
    useAlternateScoring: false
  "autocomplete-python":
    extraPaths: "$PROJECT"
    pythonPaths: "~/.pyenv/shims/python"
    useSnippets: "required"
  "code-peek":
    codePeekLocation: "Modal"
  "color-picker":
    automaticReplace: true
    preferredFormat: "HEX"
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "language-javascript"
      "linter-pyflakes"
      "linter-sass-lint"
      "terminal-plus"
      "pane-layout-plus"
      "smart-tab-name"
      "image-view"
      "autocomplete-webpack"
      "linter-codeclimate"
      "whitespace"
      "sync-settings"
      "package-sync"
      "tree-view-scope-lines"
      "atom-ctags"
      "ctags-status"
      "linter-flow"
      "linter-package-json-validator"
    ]
    projectHome: "~/code"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "monokai-neo-syntax"
    ]
    titleBar: "custom-inset"
    useTreeSitterParsers: false
    warnOnLargeFileLimit: 5
  "ctags-status":
    outerScope: true
  editor:
    fontFamily: "HackNerdFontComplete-Bold"
    fontSize: 11
    preferredLineLength: 120
    tabLength: 4
  "exception-reporting":
    userId: "d02bacd7-9c5e-41a3-aad3-5c09757c194a"
  "file-icons": {}
  "file-types":
    $caseSensitive: true
  filesize:
    UseDecimal: true
  "flow-ide":
    onlyIfAppropriate: false
    outline: {}
    showUncovered: true
    useLSP: true
  fonts:
    fontFamily: "Hack"
  "git-blame":
    colorCommitAuthors: true
    columnWidth: 340
  "git-plus":
    general:
      showBranchInTreeView: false
  "ide-css": {}
  "ide-python":
    pylsPlugins:
      jedi_definition:
        follow_builtin_imports: true
        follow_imports: true
      pycodestyle:
        hangClosing: true
        maxLineLength: 120
      rope_completion: {}
      yapf:
        enabled: true
  "js-hyperclick":
    jumpToImport: true
  kite:
    showWelcomeNotificationOnStartup: false
  "language-babel":
    allowLocalOverride: true
    autoIndentJSX: true
    babelMapsPath: ".transpiled/maps"
    babelTranspilePath: ".transpiled/code"
    createMap: true
    createTranspiledCode: true
    emmetCSSAutocomplete: true
  "lcov-info": {}
  linter:
    lintOnChangeInterval: 60000
  "linter-codeclimate":
    disableTimeout: true
  "linter-eslint":
    autofix:
      fixOnSave: true
  "linter-flake8":
    executablePath: "~/.pyenv/shims/flake8"
    maxLineLength: 120
  "linter-flow":
    executablePath: "./node_modules/.bin/flow"
  "linter-json-lint": {}
  "linter-pyflakes": {}
  "linter-pylint":
    rcFile: "%p/.pylintrc"
  "linter-scss-lint": {}
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    panelHeight: 210
    showProviderName: true
    statusBarRepresents: "Current File"
  "markdown-writer":
    fileExtension: ".md"
  "node-debug":
    nodePath: "babel-node"
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNotInPackageJson: true
    useEslint: true
    useStylelint: true
  "project-manager":
    alwaysOpenInSameWindow: true
    sortBy: "last modified"
  "project-view":
    displayPath: false
  "python-autopep8":
    formatOnSave: true
    maxLineLength: 120
  "python-debugger":
    pythonExecutable: "python3"
  "python-isort":
    checkOnSave: false
    sortOnSave: true
  "remote-ftp":
    connector:
      autoUploadOnSave: "only when connected"
      sshConfigPath: "~/.ssh/known_hosts"
    dev:
      debugResponse: true
    statusbar:
      enable: true
      position: "right"
  "save-workspace-Workspaces":
    "Analysis v4":
      panes: [
        {
          data: [
            {
              data:
                orientation: "vertical"
                tabs: [
                  "/Users/panda/code/amp/pandas4000/src/routes/analysis/index.js"
                  "/Users/panda/code/amp/pandas4000/src/routes/analysis/Analysis.js"
                  "/Users/panda/code/amp/pandas4000/src/data/models/Dimension/class.js"
                  "/Users/panda/code/amp/pandas4000/src/routes/analysis/components/index.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/helpers.js"
                  "/Users/panda/code/amp/pandas4000/src/components/AmpTable/AmpTable.js"
                ]
              type: "pane"
            }
            {
              data:
                orientation: "vertical"
                tabs: [
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/table/actions.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/dates/actions.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/thunks/LoadSavedView.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/index.js"
                ]
              type: "pane"
            }
          ]
          orientation: "vertical"
          type: "paneAxis"
        }
        {
          data: [
            {
              data:
                orientation: "vertical"
                tabs: [
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/dates/reducers.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/dimensions/reducers.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/table/reducers.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/refresh/index.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/reducers.js"
                ]
              type: "pane"
            }
            {
              data:
                orientation: "vertical"
                tabs: [
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/table/selectors.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/dimensions/selectors.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/refresh/selectors.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/dates/selectors.js"
                  "/Users/panda/code/amp/pandas4000/src/store/analysis/selectors.js"
                ]
              type: "pane"
            }
          ]
          orientation: "vertical"
          type: "paneAxis"
        }
      ]
      projectPaths: [
        "/Users/panda/code/amp/pandas4000"
      ]
  script:
    cwdBehavior: "Project directory of the script"
    stopOnRerun: true
  "seti-syntax":
    dynamicColor: false
    themeColor: "Steel"
  "seti-ui":
    compactView: true
    disableAnimations: true
    hideProjectTab: true
    hideTitleBar: true
    themeColor: "Green"
  "smart-tab-name":
    debug: 1
  "spell-check":
    addKnownWords: true
    grammars: [
      "comment.block.documentation.js"
      "comment.line.double-slash.js"
      "comment."
    ]
    locales: [
      "en-US"
    ]
  "structure-view":
    AutoscrollFromSource: true
    DoubleClickToFoldTreeView: false
  "sync-settings":
    _lastBackupHash: "d6c8352ed4fe98899311a8f1459e24f18c2d1709"
    blacklistedKeys: [
      "'atom-beautify.general._analyticsUserId'"
      "'sync-settings.personalAccessToken'"
    ]
    gistId: "a1ca80026b6f0c19f31ea97104de6a6f"
    personalAccessToken: "3ce6441eb6bcb40a9110f4368cd6325494a327bf"
  tabs: {}
  "tester-jest":
    binaryPath: "npm spec"
    nodeEnv: "development"
  "todo-show": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "tree-view-git-status":
    gitFlow:
      enabled: false
  welcome:
    showOnStartup: false
  "xatom-debug": {}
".breakpoints.hydrogen":
  editor:
    autoIndentOnPaste: false
".editorconfig.source":
  editor:
    tabLength: 4
".reason.source":
  editor:
    preferredLineLength: 110
